@page
@model GourmetRestaurantWeb.Pages.Admin.Order.OrderListModel

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Order List</h2>
		</div>
		<div class="col-6 text-end">
		</div>
	</div>
	<br />

	<table id="DT_Load" class="table table-striped table-bordered" style="text-align:center">
		<thead>
			<tr>
				<th style="text-align:center">Order ID</th>
				<th style="text-align:center">Name</th>
				<th style="text-align:center">Email</th>
				<th style="text-align:center">Order Total</th>
				<th id="date" style="text-align:center">Pickup Time</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts
	{
	<script src="~/js/orderList.js"></script>
}