@page
@model GourmetRestaurantWeb.Pages.Admin.FoodTypes.DeleteModel
@{
}

<form method="post">
	@*we need to edit the category*@
	<input hidden asp-for="FoodType.Id" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pt-3">Delete FoodType</h2>
			<hr />
		</div>
		@*display all custom validations*@
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="FoodType.Name"></label>
			<input asp-for="FoodType.Name" disabled class="form-control" />
		</div>
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
	</div>
</form>

@section Scripts {
	@{
		//custom side validations, we can also add js scripts
		<partial name="_ValidationScriptsPartial"></partial>
	}
}
